[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.17"
django-cors-headers = "*"
django-environ = "*"
django-filter = "*"
django-summernote = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
drf-spectacular = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
Unidecode = "*"
whitenoise = "*"

[dev-packages]
factory-boy = "*"
ipdb = "*"
pre-commit = "*"
pytest = "*"
pytest-circleci-parallelized = "*"
pytest-django = "*"
pytest-socket = "*"
pytest-xdist = "*"
ruff = "*"

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = false
