[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
boto3 = "1.38.9"
django = "==4.2.24"
django-admin-logs = "*"
django-admin-two-factor = "*"
django-autoslug = "*"
django-cors-headers = "*"
django-environ = "*"
django-filter = "*"
django-storages = "*"
django-summernote = "*"
djangorestframework = "*"
djangorestframework-gis = "*"
drf-spectacular = "*"
geopy = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
sib-api-v3-sdk = "*"
Unidecode = "*"
whitenoise = "*"

[dev-packages]
factory-boy = "*"
ipdb = "*"
pre-commit = "*"
pytest = "*"
pytest-circleci-parallelized = "*"
pytest-django = "*"
pytest-socket = "*"
pytest-xdist = "*"
requests-mock = "*"
ruff = "*"

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = false
